<!doctype html>
<html>
<head>
</head>
<body>
<div class="container">
<h1>Home</h1>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect();
  socket.emit('browserEvent', 'Emitting event from browser');
  socket.on('serverEvent', function(eventMessage) {
    console.log(eventMessage);
  });
</script>
</body>
</html>
